In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

censusDF = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/acs2017_census_tract_data.csv')

censusDF.County = censusDF.County.str.replace(" County", "")

newCensusDF = pd.DataFrame({'County':censusDF.groupby(['County']).State.unique()})

censusDF.head()

,TractId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1845,899,946,2.4,86.3,5.2,0.0,...,0.5,0.0,2.1,24.5,881,74.2,21.2,4.5,0.0,4.6
1,1001020200,Alabama,Autauga,2172,1167,1005,1.1,41.6,54.5,0.0,...,0.0,0.5,0.0,22.2,852,75.9,15.0,9.0,0.0,3.4
2,1001020300,Alabama,Autauga,3385,1533,1852,8.0,61.4,26.5,0.6,...,1.0,0.8,1.5,23.1,1482,73.3,21.1,4.8,0.7,4.7
3,1001020400,Alabama,Autauga,4267,2001,2266,9.6,80.3,7.1,0.5,...,1.5,2.9,2.1,25.9,1849,75.8,19.7,4.5,0.0,6.1
4,1001020500,Alabama,Autauga,9965,5054,4911,0.9,77.5,16.4,0.0,...,0.8,0.3,0.7,21.0,4787,71.4,24.1,4.5,0.0,2.3

In [ ]:
assignDF = pd.DataFrame({"County":[], "State":[], "Population":[], "Poverty":[], "PerCapitaIncome":[]})

assignDF.County = censusDF.County
assignDF.State = censusDF.State
assignDF.Population = censusDF.TotalPop
assignDF.Poverty = censusDF.Poverty
assignDF.PerCapitaIncome = censusDF.IncomePerCap

assignDF.head()

    County    State  Population  Poverty  PerCapitaIncome
0  Autauga  Alabama        1845     10.7          33018.0
1  Autauga  Alabama        2172     22.4          18996.0
2  Autauga  Alabama        3385     14.7          21236.0
3  Autauga  Alabama        4267      2.3          28068.0
4  Autauga  Alabama        9965     12.2          36905.0

In [ ]:

newAssignDF = assignDF.drop_duplicates(['County', 'State'])
newAssignDF.Population = assignDF.groupby(['County', 'State']).Population.transform('sum')
newAssignDF.Poverty = assignDF.groupby(['County', 'State']).Poverty.transform('mean')
newAssignDF.PerCapitaIncome = assignDF.groupby(['County', 'State']).PerCapitaIncome.transform('mean')

newAssignDF.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

     County    State  Population    Poverty  PerCapitaIncome
0   Autauga  Alabama       55036  14.558333     26588.166667
12  Baldwin  Alabama      203360  12.874194     29130.709677
44  Barbour  Alabama       26201  27.755556     17891.666667
53     Bibb  Alabama       22580  13.925000     21799.000000
57   Blount  Alabama       57667  16.422222     21598.444444

In [ ]:
print(newAssignDF[(newAssignDF['County'] == 'Loudoun') & (newAssignDF['State'] == 'Virginia')])
print(newAssignDF[(newAssignDF['County'] == 'Washington') & (newAssignDF['State'] == 'Oregon')])
print(newAssignDF[(newAssignDF['County'] == 'Harlan') & (newAssignDF['State'] == 'Kentucky')])
print(newAssignDF[(newAssignDF['County'] == 'Malheur') & (newAssignDF['State'] == 'Oregon')])
print(newAssignDF[newAssignDF['Population'] == newAssignDF['Population'].max()])
print(newAssignDF[newAssignDF['Population'] == newAssignDF['Population'].min()])

        County     State  Population   Poverty  PerCapitaIncome
68452  Loudoun  Virginia      374558  3.884375     50391.015625
           County   State  Population    Poverty  PerCapitaIncome
55223  Washington  Oregon      572071  10.446154     34970.817308
       County     State  Population    Poverty  PerCapitaIncome
27623  Harlan  Kentucky       27548  33.318182     16010.363636
        County   State  Population    Poverty  PerCapitaIncome
54928  Malheur  Oregon       30421  24.414286     17966.428571
           County       State  Population    Poverty  PerCapitaIncome
4731  Los Angeles  California    10105722  17.323803     31389.413867
       County  State  Population  Poverty  PerCapitaIncome
65203  Loving  Texas          74     17.1          35530.0

In [ ]:
covidDF = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/COVID_county_data.csv')

covidDF.groupby(['fips']).county.head()


covidDF.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [ ]:
newCovidDF = pd.DataFrame({'County':[], 'Month':[], 'Num_cases':[], 'Num_deaths':[]})

newCovidDF.County = covidDF.

In [ ]:
countyDF = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/COVID_county_data.csv')

countyDF.groupby(['fips']).county.head()



countyStateDF = pd.DataFrame({"County":countyDF.groupby(['fips']).county.unique(), "State":countyDF.groupby(['fips']).state.unique()})

countyStateDF.head()

           County      State
fips
1001.0  [Autauga]  [Alabama]
1003.0  [Baldwin]  [Alabama]
1005.0  [Barbour]  [Alabama]
1007.0     [Bibb]  [Alabama]
1009.0   [Blount]  [Alabama]

In [ ]:
countyDF = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/COVID_county_data.csv')

countyDF.groupby(['fips']).county.head()



newFrame = pd.DataFrame({"County":countyDF.groupby(['fips']).county.unique, "Population":countyDF.groupby(['fips'])., "%poverty":[0], "PerCapitaIncome":[0]})

                                              County
0  (1001.0, [Autauga, Autauga, Autauga, Autauga, ...
1  (1003.0, [Baldwin, Baldwin, Baldwin, Baldwin, ...
2  (1005.0, [Barbour, Barbour, Barbour, Barbour, ...
3  (1007.0, [Bibb, Bibb, Bibb, Bibb, Bibb, Bibb, ...
4  (1009.0, [Blount, Blount, Blount, Blount, Blou...